<!DOCTYPE html>
<html lang="english">
    <%- include('layouts/header'); -%>
  <body>
    <div>
      <link href="/css/admin-add-user.css" rel="stylesheet" />

      <div class="add-user-container">
        <div class="add-user-header">
            <%- include('layouts/navbar'); -%>
            <%- include('layouts/adminheader'); -%>
        </div>
        <div class="add-user-container2">
          <div class="add-user-login">
            <div class="add-user-background">
              <h1 class="add-user-text06">Add user</h1>
              <form action="/admin/storeUser" name="addUser" method="POST" onsubmit="return validateForm()" class="add-user-form">
                <div class="add-user-full-name">
                  <label for="fullName" class="add-user-text07">
                    Full name
                  </label>
                  <input
                    type="text"
                    id="fullName"
                    name="fullName"
                    class="add-user-textinput input"
                  />
                </div>
                <div class="add-user-username">
                  <label for="userName" class="add-user-text08">Username</label>
                  <input
                    type="text"
                    id="userName"
                    name="userName"
                    class="add-user-textinput1 input"
                  />
                </div>
                <div class="add-user-edition">
                  <label for="Age" class="add-user-text09">Age</label>
                  <input
                    type="text"
                    id="Age"
                    name="Age"
                    class="add-user-textinput2 input"
                  />
                </div>
                <div class="add-user-pub-year">
                  <label for="Email" class="add-user-text10">Email</label>
                  <input
                    type="text"
                    id="Email"
                    name="Email"
                    class="add-user-textinput3 input"
                  />
                </div>
                <button type='submit' class="add-user-login1 button">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <%- include('layouts/footer'); -%>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/addUserEmpty.js"></script>
</html>
