<!DOCTYPE html>
<html lang="english">
  <%- include('layouts/header'); -%>

  <body>
    <div>
      <link href="/css/style.css" rel="stylesheet" />

      <div class="login-container">
        <div class="login-login">
         <!-- navbar -->
         <%- include('layouts/navbar'); -%>
          <div class="login-container2">
            <div class="login-login1">
              <div class="login-background">
                <h1 class="login-text06">Reset password</h1>
                <div class="login-input-info">
                  <form action="/reset/sendEmail" method="POST" class="login-form">
                    <div class="login-user-name">
                      <label for="username" class="login-text07">
                        Email
                      </label>
                      <input
                        type="email"
                        id="email"
                        class="login-textinput input"
                      />
                    </div>
                    <button type='submit' class="login-login2 button">Send</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
