<!DOCTYPE html>
<html lang="english">
  <head>
    <title>login - exported project</title>
    <meta property="og:title" content="login - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] { appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div>
      <link href="/css/login.css" rel="stylesheet" />

      <div class="login-container">
        <div class="login-login">
          <nav class="login-nav-bar">
            <a href="index" class="login-navlink">
              <img
                alt="VGULogo11954"
                src="/playground_assets/vgulogo11954-887-200h.png"
                class="login-vg-logo1"
              />
            </a>
            <div class="login-navbutton">
              <a href="index" class="login-navlink1">
                <h2 class="login-text">
                  <span>Home</span>
                  <span></span>
                </h2>
              </a>
              <a href="contact" class="login-navlink2">
                <h2 class="login-text03"><span>Contact</span></h2>
              </a>
              <a href="about" class="login-navlink3">
                <h2 class="login-text05">About</h2>
              </a>
              <a href="sign-up" class="login-navlink4">
                <h2 class="login-text06">new user</h2>
              </a>
            </div>
            <a href="searchbook" class="login-navlink5">
              <img
                alt="magnifyingglass11955"
                src="/playground_assets/magnifyingglass11955-xoij-200h.png"
                class="login-magnifyingglass1"
              />
            </a>
            <div class="login-login-container">
              <a href="/register" class="login-navlink6">
                <img
                  alt="Rectangle21955"
                  src="/playground_assets/rectangle21955-48i8-300h.png"
                  class="login-rectangle2 button"
                />
              </a>
              <label class="login-text07">Register</label>
            </div>
          </nav>
          <img
            alt="image15919"
            src="/playground_assets/image15919-goa-900h.png"
            class="login-image1"
          />
          <div class="login-container1">
            <img
              alt="Rectangle165920"
              src="/playground_assets/rectangle165920-3emg-1100w.png"
              class="login-rectangle16"
            />
            <div class="login-group-form">
              <form
                enctype="multipart/form-data"
                method="post"
                action="/login/auth"
                class="login-form"
              >
                <div class="login-form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    placeholder="Username"
                    id="username"
                    class="login-textinput input"
                  />
                </div>
                <div class="login-form-group1">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    placeholder="Password"
                    id="password"
                    class="input"
                  />
                </div>
                <button type="submit" class="login-button button">login</button>
              </form>
            </div>
          </div>
          <div class="login-container2">
            <h2 class="login-text10"><span>Forgot password?</span></h2>
            <h2 href= "register" class="login-text12">
              <span>Don’t have an account?</span>
            </h2>
          </div>
          <h1 class="login-text14"><span>Login</span></h1>
          <footer class="login-footer">
            <img
              alt="Rectangle247216"
              src="/playground_assets/rectangle247216-8dmo-300h.png"
              class="login-rectangle24"
            />
            <div class="login-container3">
              <div class="login-container4">
                <img
                  alt="VGUlogofullwhite17217"
                  src="/playground_assets/vgulogofullwhite17217-4d0rh-200h.png"
                  class="login-v-ulogofullwhite1"
                />
                <span class="login-text16">
                  <span>
                    <span>
                      Ring road 4, Quarter 4, Thoi Hoa Ward, Ben Cat Town, Binh
                      Duong Province
                    </span>
                    <br />
                    <span>Tel. (0274) 222 0990 - 70206</span>
                    <br />
                    <span>Fax: (0274) 222 0980</span>
                  </span>
                </span>
                <span class="login-text23">
                  <span>© 2023 VGU Library, All Rights Reserved.</span>
                </span>
              </div>
              <div class="login-container5">
                <h2 class="login-text25">Resources</h2>
                <h2 class="login-text26">
                  <span>Databases - eJournal</span>
                  <br />
                  <span>Books - eBooks</span>
                  <br />
                  <span>Newspapers - Journals</span>
                  <br />
                  <span>Open eTheses</span>
                </h2>
              </div>
              <div class="login-container6">
                <h2 class="login-text34"><span>Services</span></h2>
                <h2 class="login-text36">
                  <span>
                    <span>Book delivery service</span>
                    <br />
                    <span>Computer labs</span>
                    <br />
                    <span>Room booking</span>
                    <br />
                    <span>Book status</span>
                  </span>
                </h2>
              </div>
              <div class="login-container7">
                <h2 class="login-text45"><span>Research</span></h2>
                <h2 class="login-text47">
                  <span>
                    <span>Resource gateway</span>
                    <br />
                    <span>iTutorials</span>
                    <br />
                    <span>Citation - Referencing</span>
                    <br />
                    <span>Common library terms</span>
                    <br />
                    <span></span>
                  </span>
                </h2>
              </div>
              <div class="login-container8">
                <h2 class="login-text58"><span>About us</span></h2>
                <h2 class="login-text60">
                  <span>
                    <span>Overview</span>
                    <br />
                    <span>Statistics</span>
                    <br />
                    <span>Our history</span>
                    <br />
                    <span>Future vision</span>
                  </span>
                </h2>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
