<!DOCTYPE html>
<html lang="english">
 
  <%- include('layouts/header'); -%>

    <body>
      <div>
        <link href="/css/payCash.css" rel="stylesheet" />
          <div class="pay-due-fee-with-cash-container">
            <div class="pay-due-fee-with-cash-offlinepaymentoverduewithcash">
              <div class="pay-due-fee-with-cash-container1">
                <%- include('layouts/navbar'); -%>
                <span class="pay-due-fee-with-cash-text06">
                  <span>Pay overdue fee with cash</span>
                </span>
                <div class="pay-due-fee-with-cash-container3">
                  <img
                    alt="AlanTuringbook28573"
                    src="/playground_assets/alanturingbook28573-m3wl-500h.png"
                    class="pay-due-fee-with-cash-alan-turingbook2"
                  />
                  <div class="pay-due-fee-with-cash-container4">
                    <span class="pay-due-fee-with-cash-text08">
                      <span class="pay-due-fee-with-cash-text09">Book name: </span>
                      <span></span>
                      <span class="pay-due-fee-with-cash-text11">ALAN TURING: THE ENIGMA </span>
                    </span>
                    <span class="pay-due-fee-with-cash-text12">
                      <span class="pay-due-fee-with-cash-text13">Borrowed date:</span>
                      <span></span>
                      <span class="pay-due-fee-with-cash-text15">20/03/2023</span>
                    </span>
                    <span class="pay-due-fee-with-cash-text16">
                      <span class="pay-due-fee-with-cash-text17">Expired date:</span>
                      <span></span>
                      <span class="pay-due-fee-with-cash-text19">24/03/2023</span>
                    </span>
                    <span class="pay-due-fee-with-cash-text20">
                      <span class="pay-due-fee-with-cash-text21"> Total expired time: </span>
                      <span></span>
                      <span class="pay-due-fee-with-cash-text23">2 days</span>
                    </span>
                    <span class="pay-due-fee-with-cash-text24">
                      <span class="pay-due-fee-with-cash-text25">Total fee:</span>
                      <span></span>
                      <span class="pay-due-fee-with-cash-text27">50.000 VND</span>
                    </span>
                    <span class="pay-due-fee-with-cash-text28">
                      <span class="pay-due-fee-with-cash-text29">Attention:</span>
                      <br />
                      <span>
                        - If you don’t pay this fee, you aren’t allowed to borrow the
                        next book.
                      </span>
                      <br />
                      <span>
                        - The fee is increased every 3 days unresolved, by 20% of
                        orgininal price.
                      </span>
                      <span></span>
                      <span></span>
                    </span>
                    <span class="pay-due-fee-with-cash-text36">
                      <p>
                        Please bring this conformation and cash to library’s reception
                        to pay your fee.
                      </p>
                    </span>
                  </div>
                </div>
                <a href="bookcart" class="pay-due-fee-with-cash-return-home button">
                  Return
                </a>
                <br>
                <br>
                <!--footer-->
                <%- include('layouts/footer'); -%>
              </div>
            </div>
          </div>
      </div>
      <!--Script-->
      <%- include('layouts/script'); -%>    
    </body>
</html>