<!DOCTYPE html>
<html lang="english">
 
    <%- include('layouts/navbar'); -%>

        <body>
            <div>
                <link href="./search-filter-book.css" rel="stylesheet" />
                <div class="search-filter-book-container">
                  <div class="search-filter-book-filterbook">
                    <div class="search-filter-book-container01">
                      <div class="search-filter-book-container03">
                        <div class="search-filter-book-search-bar">
                          <input
                            type="text"
                            placeholder="ALAN TURING: THE ENIGMA"
                            class="search-filter-book-search-bar1 input"
                          />
                          <a
                            href="searchfilterbook.html"
                            class="search-filter-book-add-to-cart-button button"
                          >
                            Search
                          </a>
                        </div>
                        <div class="search-filter-book-container04">
                          <span class="search-filter-book-text006">Result search books</span>
                          <div class="search-filter-book-container05">
                            <span class="search-filter-book-text007">
                              <span>Filter:</span>
                            </span>
                            <select name="scsacasc" class="search-filter-book-select">
                              <option value="Option 1" selected></option>
                              <option value="Option 2">Author</option>
                              <option value="Option 3">Categories</option>
                              <option value="Option 4">Published</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="search-filter-book-contianer">
                        <img
                          alt="AlanTuringbook11711"
                          src="/playground_assets/alanturingbook11711-kiai-300w.png"
                          class="search-filter-book-alan-turingbook1"
                        />
                        <div class="search-filter-book-container06">
                          <h1 class="search-filter-book-text009">ALAN TURING: THE ENIGMA</h1>
                          <h2 class="search-filter-book-text010">
                            <span>Authour:</span>
                            <span class="search-filter-book-text012">Andrew Hodges</span>
                            <br class="search-filter-book-text013" />
                            <span></span>
                          </h2>
                          <h2 class="search-filter-book-text015">
                            <span>Published:</span>
                            <span class="search-filter-book-text017">November 30, 2012</span>
                            <span></span>
                            <br class="search-filter-book-text019" />
                            <span></span>
                          </h2>
                          <h2 class="search-filter-book-text021"><span>Category:</span></h2>
                          <div class="search-filter-book-cat">
                            <div class="search-filter-book-tag">
                              <span class="search-filter-book-text023">
                                <span>science</span>
                              </span>
                            </div>
                            <div class="search-filter-book-tag1">
                              <span class="search-filter-book-text025">
                                <span>science</span>
                              </span>
                            </div>
                            <div class="search-filter-book-tag2">
                              <span class="search-filter-book-text027">
                                <span>science</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="search-filter-book-contianer1">
                        <img
                          alt="AlanTuringbook11711"
                          src="/playground_assets/alanturingbook11711-kiai-300w.png"
                          class="search-filter-book-alan-turingbook11"
                        />
                        <div class="search-filter-book-container07">
                          <h1 class="search-filter-book-text029">ALAN TURING: THE ENIGMA</h1>
                          <h2 class="search-filter-book-text030">
                            <span>Authour:</span>
                            <span class="search-filter-book-text032">Andrew Hodges</span>
                            <br class="search-filter-book-text033" />
                            <span></span>
                          </h2>
                          <h2 class="search-filter-book-text035">
                            <span>Published:</span>
                            <span class="search-filter-book-text037">November 30, 2012</span>
                            <span></span>
                            <br class="search-filter-book-text039" />
                            <span></span>
                          </h2>
                          <h2 class="search-filter-book-text041"><span>Category:</span></h2>
                          <div class="search-filter-book-cat1">
                            <div class="search-filter-book-tag3">
                              <span class="search-filter-book-text043">
                                <span>science</span>
                              </span>
                            </div>
                            <div class="search-filter-book-tag4">
                              <span class="search-filter-book-text045">
                                <span>science</span>
                              </span>
                            </div>
                            <div class="search-filter-book-tag5">
                              <span class="search-filter-book-text047">
                                <span>science</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="search-filter-book-contianer2">
                        <img
                          alt="AlanTuringbook11711"
                          src="/playground_assets/alanturingbook11711-kiai-300w.png"
                          class="search-filter-book-alan-turingbook12"
                        />
                        <div class="search-filter-book-container08">
                          <h1 class="search-filter-book-text049">ALAN TURING: THE ENIGMA</h1>
                          <h2 class="search-filter-book-text050">
                            <span>Authour:</span>
                            <span class="search-filter-book-text052">Andrew Hodges</span>
                            <br class="search-filter-book-text053" />
                            <span></span>
                          </h2>
                          <h2 class="search-filter-book-text055">
                            <span>Published:</span>
                            <span class="search-filter-book-text057">November 30, 2012</span>
                            <span></span>
                            <br class="search-filter-book-text059" />
                            <span></span>
                          </h2>
                          <h2 class="search-filter-book-text061"><span>Category:</span></h2>
                          <div class="search-filter-book-cat2">
                            <div class="search-filter-book-tag6">
                              <span class="search-filter-book-text063">
                                <span>science</span>
                              </span>
                            </div>
                            <div class="search-filter-book-tag7">
                              <span class="search-filter-book-text065">
                                <span>science</span>
                              </span>
                            </div>
                            <div class="search-filter-book-tag8">
                              <span class="search-filter-book-text067">
                                <span>science</span>
                              </span>
                            </div>
                        </div>
                    </div>
                </div>
            <div>
             <!--footer-->
             <%- include('layouts/footer'); -%>
            </div>
        </div>
    </body>
</html>