<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Admin's Users Dashboard</title>
    <meta property="og:title" content="admin-user-board - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div>
      <link href="./css/admin-user-board.css" rel="stylesheet" />

      <div class="admin-user-board-container">
        <div class="admin-user-board-container1">
          <nav id="MainNav" class="admin-user-board-nav-bar">
            <div class="admin-user-board-container2">
              <a href="/index" class="admin-user-board-navlink">
                <img
                  alt="VGULogo11954"
                  src="playground_assets/vgulogo11954-887-200h.png"
                  class="admin-user-board-vg-logo1"
                />
              </a>
              <div class="admin-user-board-navbutton">
                <a href="/index" class="admin-user-board-navlink1">
                  <h2 class="admin-user-board-text">
                    <span>Home</span>
                    <span></span>
                  </h2>
                </a>
                <a href="/contact" class="admin-user-board-navlink2">
                  <h2 class="admin-user-board-text003"><span>Contact</span></h2>
                </a>
                <a href="/about" class="admin-user-board-navlink3">
                  <h2 class="admin-user-board-text005">About</h2>
                </a>
              </div>
              <a
                href="search-filter-book.html"
                class="admin-user-board-navlink4"
              >
                <img
                  alt="magnifyingglass11955"
                  src="playground_assets/magnifyingglass11955-xoij-200h.png"
                  class="admin-user-board-magnifyingglass1"
                />
              </a>
              <a href="/login" class="admin-user-board-navlink5 button">
                Hi, User name
              </a>
            </div>
          </nav>
          <div class="adminheader-adminheader adminheader-root-class-name">
            <div class="adminheader-adminheader1">
              <a href="/admin" class="adminheader-navlink">
                <div class="adminheader-dashboardadminbutton button">
                  <img
                    alt="Rectangle492645"
                    src="playground_assets/rectangle492645-thch-200h.png"
                    class="adminheader-rectangle49"
                  />
                  <span class="adminheader-text"><span>Dashboard</span></span>
                </div>
              </a>
              <a href="/admin/users" class="adminheader-navlink1">
                <div class="adminheader-useradminbutton button">
                  <img
                    alt="Rectangle492651"
                    src="playground_assets/rectangle492651-sxib-200h.png"
                    class="adminheader-rectangle491"
                  />
                  <span class="adminheader-text2"><span>User</span></span>
                </div>
              </a>
              <a href="/admin/books" class="adminheader-navlink2">
                <div class="adminheader-bookadminbutton button">
                  <img
                    alt="Rectangle492661"
                    src="playground_assets/rectangle492661-4kxr-200h.png"
                    class="adminheader-rectangle492"
                  />
                  <span class="adminheader-text4"><span>Book</span></span>
                </div>
              </a>
            </div>
          </div>
          <div class="admin-user-board-searchbar">
            <img
              alt="magnifyingglass23561"
              src="playground_assets/magnifyingglass23561-onpt-200h.png"
              class="admin-user-board-magnifyingglass2"
            />
            <input
              type="text"
              placeholder="Search"
              class="admin-user-board-textinput input"
            />
            <select class="admin-user-board-select">
              <option value="Option 1">Option 1</option>
              <option value="Option 2">Option 2</option>
              <option value="Option 3">Option 3</option>
            </select>
            <button
              id="add new user"
              type="submit"
              class="admin-user-board-add-new-user-button button"
            >
              Add new user
            </button>
          </div>
          <div class="admin-user-board-adminuserboard">
            <div class="admin-user-board-container3">
              <div class="admin-user-board-newusertable">
                <div class="admin-user-board-container4">
                  <div class="admin-user-board-table-headers">
                    <div class="admin-user-board-container5">
                      <span class="admin-user-board-text006">
                        <span>ID</span>
                      </span>
                      <span class="admin-user-board-text008">Full name</span>
                      <span class="admin-user-board-text009">Username</span>
                      <span class="admin-user-board-text010">
                        <span>Age</span>
                      </span>
                      <span class="admin-user-board-text012">
                        <span>Email</span>
                      </span>
                      <span class="admin-user-board-text014">Created</span>
                      <span class="admin-user-board-text015">Last active</span>
                      <span class="admin-user-board-text016">Bor. books</span>
                    </div>
                  </div>
                  <div class="admin-user-board-user-info">
                    <img
                      alt="user113434"
                      src="playground_assets/user113434-gz8-200h.png"
                      class="admin-user-board-user11"
                    />
                    <span class="admin-user-board-text017">
                      <span>#200114</span>
                    </span>
                    <span class="admin-user-board-text019">
                      <span>Nicolò Zaniolo</span>
                    </span>
                    <span class="admin-user-board-text021">catOverlord</span>
                    <span class="admin-user-board-text022">
                      <span>23</span>
                    </span>
                    <span class="admin-user-board-text024">
                      <span>anhkoanmung@gmail.com</span>
                    </span>
                    <span class="admin-user-board-text026">
                      <span>31/12/2022</span>
                    </span>
                    <span class="admin-user-board-text028">10/04/2023</span>
                    <span class="admin-user-board-text029">3</span>
                    <img
                      alt="draw13434"
                      src="playground_assets/draw13434-8jw-200w.png"
                      class="admin-user-board-draw1"
                    />
                    <img
                      alt="trashcan13434"
                      src="playground_assets/trashcan13434-meoe-200w.png"
                      class="admin-user-board-trashcan1"
                    />
                  </div>
                  <div class="admin-user-board-user-info1">
                    <img
                      alt="user113434"
                      src="playground_assets/user113434-gz8-200h.png"
                      class="admin-user-board-user111"
                    />
                    <span class="admin-user-board-text030">
                      <span>#200114</span>
                    </span>
                    <span class="admin-user-board-text032">
                      <span>Nicolò Zaniolo</span>
                    </span>
                    <span class="admin-user-board-text034">catOverlord</span>
                    <span class="admin-user-board-text035">
                      <span>23</span>
                    </span>
                    <span class="admin-user-board-text037">
                      <span>anhkoanmung@gmail.com</span>
                    </span>
                    <span class="admin-user-board-text039">
                      <span>31/12/2022</span>
                    </span>
                    <span class="admin-user-board-text041">10/04/2023</span>
                    <span class="admin-user-board-text042">3</span>
                    <img
                      alt="draw13434"
                      src="playground_assets/draw13434-8jw-200w.png"
                      class="admin-user-board-draw11"
                    />
                    <img
                      alt="trashcan13434"
                      src="playground_assets/trashcan13434-meoe-200w.png"
                      class="admin-user-board-trashcan11"
                    />
                  </div>
                  <div class="admin-user-board-user-info2">
                    <img
                      alt="user113434"
                      src="playground_assets/user113434-gz8-200h.png"
                      class="admin-user-board-user112"
                    />
                    <span class="admin-user-board-text043">
                      <span>#200114</span>
                    </span>
                    <span class="admin-user-board-text045">
                      <span>Nicolò Zaniolo</span>
                    </span>
                    <span class="admin-user-board-text047">catOverlord</span>
                    <span class="admin-user-board-text048">
                      <span>23</span>
                    </span>
                    <span class="admin-user-board-text050">
                      <span>anhkoanmung@gmail.com</span>
                    </span>
                    <span class="admin-user-board-text052">
                      <span>31/12/2022</span>
                    </span>
                    <span class="admin-user-board-text054">10/04/2023</span>
                    <span class="admin-user-board-text055">3</span>
                    <img
                      alt="draw13434"
                      src="playground_assets/draw13434-8jw-200w.png"
                      class="admin-user-board-draw12"
                    />
                    <img
                      alt="trashcan13434"
                      src="playground_assets/trashcan13434-meoe-200w.png"
                      class="admin-user-board-trashcan12"
                    />
                  </div>
                  <div class="admin-user-board-user-info3">
                    <img
                      alt="user113434"
                      src="playground_assets/user113434-gz8-200h.png"
                      class="admin-user-board-user113"
                    />
                    <span class="admin-user-board-text056">
                      <span>#200114</span>
                    </span>
                    <span class="admin-user-board-text058">
                      <span>Nicolò Zaniolo</span>
                    </span>
                    <span class="admin-user-board-text060">catOverlord</span>
                    <span class="admin-user-board-text061">
                      <span>23</span>
                    </span>
                    <span class="admin-user-board-text063">
                      <span>anhkoanmung@gmail.com</span>
                    </span>
                    <span class="admin-user-board-text065">
                      <span>31/12/2022</span>
                    </span>
                    <span class="admin-user-board-text067">10/04/2023</span>
                    <span class="admin-user-board-text068">3</span>
                    <img
                      alt="draw13434"
                      src="playground_assets/draw13434-8jw-200w.png"
                      class="admin-user-board-draw13"
                    />
                    <img
                      alt="trashcan13434"
                      src="playground_assets/trashcan13434-meoe-200w.png"
                      class="admin-user-board-trashcan13"
                    />
                  </div>
                  <div class="admin-user-board-user-info4">
                    <img
                      alt="user113434"
                      src="playground_assets/user113434-gz8-200h.png"
                      class="admin-user-board-user114"
                    />
                    <span class="admin-user-board-text069">
                      <span>#200114</span>
                    </span>
                    <span class="admin-user-board-text071">
                      <span>Nicolò Zaniolo</span>
                    </span>
                    <span class="admin-user-board-text073">catOverlord</span>
                    <span class="admin-user-board-text074">
                      <span>23</span>
                    </span>
                    <span class="admin-user-board-text076">
                      <span>anhkoanmung@gmail.com</span>
                    </span>
                    <span class="admin-user-board-text078">
                      <span>31/12/2022</span>
                    </span>
                    <span class="admin-user-board-text080">10/04/2023</span>
                    <span class="admin-user-board-text081">3</span>
                    <img
                      alt="draw13434"
                      src="playground_assets/draw13434-8jw-200w.png"
                      class="admin-user-board-draw14"
                    />
                    <img
                      alt="trashcan13434"
                      src="playground_assets/trashcan13434-meoe-200w.png"
                      class="admin-user-board-trashcan14"
                    />
                  </div>
                  <div class="admin-user-board-user-info5">
                    <img
                      alt="user113434"
                      src="playground_assets/user113434-gz8-200h.png"
                      class="admin-user-board-user115"
                    />
                    <span class="admin-user-board-text082">
                      <span>#200114</span>
                    </span>
                    <span class="admin-user-board-text084">
                      <span>Nicolò Zaniolo</span>
                    </span>
                    <span class="admin-user-board-text086">catOverlord</span>
                    <span class="admin-user-board-text087">
                      <span>23</span>
                    </span>
                    <span class="admin-user-board-text089">
                      <span>anhkoanmung@gmail.com</span>
                    </span>
                    <span class="admin-user-board-text091">
                      <span>31/12/2022</span>
                    </span>
                    <span class="admin-user-board-text093">10/04/2023</span>
                    <span class="admin-user-board-text094">3</span>
                    <img
                      alt="draw13434"
                      src="playground_assets/draw13434-8jw-200w.png"
                      class="admin-user-board-draw15"
                    />
                    <img
                      alt="trashcan13434"
                      src="playground_assets/trashcan13434-meoe-200w.png"
                      class="admin-user-board-trashcan15"
                    />
                  </div>
                  <div class="admin-user-board-user-info6">
                    <img
                      alt="user113434"
                      src="playground_assets/user113434-gz8-200h.png"
                      class="admin-user-board-user116"
                    />
                    <span class="admin-user-board-text095">
                      <span>#200114</span>
                    </span>
                    <span class="admin-user-board-text097">
                      <span>Nicolò Zaniolo</span>
                    </span>
                    <span class="admin-user-board-text099">catOverlord</span>
                    <span class="admin-user-board-text100">
                      <span>23</span>
                    </span>
                    <span class="admin-user-board-text102">
                      <span>anhkoanmung@gmail.com</span>
                    </span>
                    <span class="admin-user-board-text104">
                      <span>31/12/2022</span>
                    </span>
                    <span class="admin-user-board-text106">10/04/2023</span>
                    <span class="admin-user-board-text107">3</span>
                    <img
                      alt="draw13434"
                      src="playground_assets/draw13434-8jw-200w.png"
                      class="admin-user-board-draw16"
                    />
                    <img
                      alt="trashcan13434"
                      src="playground_assets/trashcan13434-meoe-200w.png"
                      class="admin-user-board-trashcan16"
                    />
                  </div>
                </div>
              </div>
              <div class="admin-user-board-pagenumber">
                <img
                  alt="downarrow13541"
                  src="playground_assets/downarrow13541-cr4d-200h.png"
                  class="admin-user-board-downarrow1"
                />
                <span class="admin-user-board-text108">1</span>
                <span class="admin-user-board-text109">2</span>
                <span class="admin-user-board-text110">3</span>
                <span class="admin-user-board-text111"><span>...</span></span>
                <span class="admin-user-board-text113"><span>10</span></span>
                <img
                  alt="downarrow23551"
                  src="playground_assets/downarrow23551-osiq-200h.png"
                  class="admin-user-board-downarrow2"
                />
              </div>
            </div>
            <div class="admin-user-board-scroll-bar">
              <img
                alt="Rectangle513521"
                src="playground_assets/rectangle513521-a7pb-200w.png"
                class="admin-user-board-rectangle51"
              />
            </div>
          </div>
        </div>
        <footer class="admin-user-board-footer">
          <div class="admin-user-board-container6">
            <div class="admin-user-board-container7">
              <img
                alt="VGUlogofullwhite17217"
                src="playground_assets/vgulogofullwhite17217-4d0rh-200h.png"
                class="admin-user-board-v-ulogofullwhite1"
              />
              <h2 class="admin-user-board-text115">
                <span>
                  <span>
                    Ring road 4, Quarter 4, Thoi Hoa Ward, Ben Cat Town, Binh
                    Duong Province
                  </span>
                  <br />
                  <span>Tel. (0274) 222 0990 - 70206</span>
                  <br />
                  <span>Fax: (0274) 222 0980</span>
                </span>
              </h2>
              <h2 class="admin-user-board-text122">
                © 2023 VGU Library, All Rights Reserved.
              </h2>
            </div>
            <div class="admin-user-board-navbutton1">
              <div class="admin-user-board-home">
                <a href="index.html" class="admin-user-board-navlink6">
                  <h2 class="admin-user-board-text123">
                    <span>Home</span>
                    <span></span>
                  </h2>
                </a>
                <p class="admin-user-board-text126">
                  <br />
                  <span>Search books</span>
                  <br />
                  <span>Popular books</span>
                  <br />
                  <span>Featured books</span>
                  <br />
                  <span>Services</span>
                  <br />
                  <span>Research</span>
                  <br />
                  <span>News &amp; Events</span>
                  <br />
                </p>
              </div>
              <div class="admin-user-board-contact">
                <a href="contact.html" class="admin-user-board-navlink7">
                  <h2 class="admin-user-board-text140">Contact</h2>
                </a>
                <p class="admin-user-board-text141">
                  <br />
                  <span>Address</span>
                  <br />
                  <span>Phone number</span>
                  <br />
                  <span>Fax number</span>
                  <br />
                  <span>Email</span>
                  <br />
                </p>
              </div>
              <div class="admin-user-board-about">
                <a href="contact.html" class="admin-user-board-navlink8">
                  <h2 class="admin-user-board-text151">About</h2>
                </a>
                <p class="admin-user-board-text152">
                  <br />
                  <span>Introduction</span>
                  <br />
                  <span>Mission</span>
                  <br />
                  <span>Vision</span>
                  <br />
                  <span>Scale</span>
                  <br />
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
