<div>
    <link href="./admin.css" rel="stylesheet" />
    <div class="admin-container">
      <div class="admin-container01">
        <nav id="MainNav" class="admin-nav-bar">
          <div class="admin-container02">
            <a href="home.html" class="admin-navlink">
              <img
                alt="VGULogo11954"
                src="/playground_assets/vgulogo11954-887-200h.png"
                class="admin-vg-logo1"
              />
            </a>
            <div class="admin-navbutton">
              <a href="home.html" class="admin-navlink1">
                <h2 class="admin-text">
                  <span>Home</span>
                  <span></span>
                </h2>
              </a>
              <a href="contact.html" class="admin-navlink2">
                <h2 class="admin-text003"><span>Contact</span></h2>
              </a>
              <a href="about.html" class="admin-navlink3">
                <h2 class="admin-text005">About</h2>
              </a>
            </div>
            <a href="searchfilterbook.html" class="admin-navlink4">
              <img
                alt="magnifyingglass11955"
                src="/playground_assets/magnifyingglass11955-xoij-200h.png"
                class="admin-magnifyingglass1"
              />
            </a>
            <a href="login.html" class="admin-navlink5 button">Hi, User name</a>
          </div>
        </nav>
        <div class="adminheader-adminheader adminheader-root-class-name3">
          <div class="adminheader-adminheader1">
            <a href="admin.html" class="adminheader-navlink">
              <div class="adminheader-dashboardadminbutton button">
                <img
                  alt="Rectangle492645"
                  src="/playground_assets/rectangle492645-thch-200h.png"
                  class="adminheader-rectangle49"
                />
                <span class="adminheader-text"><span>Dashboard</span></span>
              </div>
            </a>
            <a href="adminuserboard.html" class="adminheader-navlink1">
              <div class="adminheader-useradminbutton button">
                <img
                  alt="Rectangle492651"
                  src="/playground_assets/rectangle492651-sxib-200h.png"
                  class="adminheader-rectangle491"
                />
                <span class="adminheader-text2"><span>User</span></span>
              </div>
            </a>
            <a href="adminbookboard.html" class="adminheader-navlink2">
              <div class="adminheader-bookadminbutton button">
                <img
                  alt="Rectangle492661"
                  src="/playground_assets/rectangle492661-4kxr-200h.png"
                  class="adminheader-rectangle492"
                />
                <span class="adminheader-text4"><span>Book</span></span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="admin-number-tab">
        <div class="admin-totalusers">
          <img
            alt="group12002"
            src="/playground_assets/group12002-dmcza-200h.png"
            class="admin-group1"
          />
          <div class="admin-container03">
            <span class="admin-text006"><span>Total users</span></span>
            <span class="admin-text008"><span>12,345,678</span></span>
          </div>
        </div>
        <div class="admin-totalbooks">
          <img
            alt="image"
            src="/playground_assets/book11982-qbxi-200h.png"
            class="admin-image"
          />
          <div class="admin-container04">
            <span class="admin-text010">Total books</span>
            <span class="admin-text011"><span>12,345,678</span></span>
          </div>
        </div>
        <div class="admin-issued">
          <img
            alt="image"
            src="/playground_assets/library12002-d87n-200h.png"
            class="admin-image1"
          />
          <div class="admin-container05">
            <span class="admin-text013">Issued</span>
            <span class="admin-text014"><span>12,345,678</span></span>
          </div>
        </div>
      </div>
      <div class="admin-admindashboard">
        <div class="admin--bchartscolumn-chats">
          <div class="admin-horizontal-lines">
            <img
              alt="line12524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nMTI1NCcgaGVpZ2h0PSc0JyB2aWV3Qm94PScwIDAgMTI1NCA0JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPgo8cGF0aCBkPSdNMCAyLjI4OTA2SDEyNTQnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line1"
            />
            <img
              alt="line22524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nMTI1NCcgaGVpZ2h0PSc0JyB2aWV3Qm94PScwIDAgMTI1NCA0JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPgo8cGF0aCBkPSdNMCAyLjI0MDcySDEyNTQnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line2"
            />
            <img
              alt="line32524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nMTI1NCcgaGVpZ2h0PSc0JyB2aWV3Qm94PScwIDAgMTI1NCA0JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPgo8cGF0aCBkPSdNMCAyLjE5MTg5SDEyNTQnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line3"
            />
            <img
              alt="line42524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nMTI1NCcgaGVpZ2h0PSc0JyB2aWV3Qm94PScwIDAgMTI1NCA0JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPgo8cGF0aCBkPSdNMCAyLjE0MzA3SDEyNTQnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line4"
            />
            <img
              alt="line52524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nMTI1NCcgaGVpZ2h0PSc0JyB2aWV3Qm94PScwIDAgMTI1NCA0JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPgo8cGF0aCBkPSdNMCAyLjA5NDczSDEyNTQnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line5"
            />
          </div>
          <div class="admin-vertical-lines">
            <img
              alt="line12524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nMycgaGVpZ2h0PSc1NDYnIHZpZXdCb3g9JzAgMCAzIDU0NicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KPHBhdGggZD0nTTEuNSAwLjYxNDI1OFY1NDUuNzcnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line11"
            />
            <img
              alt="line22524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nNCcgaGVpZ2h0PSc1NDYnIHZpZXdCb3g9JzAgMCA0IDU0NicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KPHBhdGggZD0nTTIuMTY2NSAwLjYxNDI1OFY1NDUuNzcnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line21"
            />
            <img
              alt="line32524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nNCcgaGVpZ2h0PSc1NDYnIHZpZXdCb3g9JzAgMCA0IDU0NicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KPHBhdGggZD0nTTEuODMzNSAwLjYxNDI1OFY1NDUuNzcnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line31"
            />
            <img
              alt="line42524"
              src="data:image/svg;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0nMycgaGVpZ2h0PSc1NDYnIHZpZXdCb3g9JzAgMCAzIDU0NicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KPHBhdGggZD0nTTEuNSAwLjYxNDI1OFY1NDUuNzcnIHN0cm9rZT0nI0NDQ0NDQycgc3Ryb2tlLXdpZHRoPSczJyBzdHJva2UtZGFzaGFycmF5PSc0IDInLz4KPC9zdmc+Cg=="
              class="admin-line41"
            />
          </div>
          <div class="admin-left-text">
            <span class="admin-text016">0</span>
            <span class="admin-text017"><span>15</span></span>
            <span class="admin-text019"><span>30</span></span>
            <span class="admin-text021"><span>45</span></span>
            <span class="admin-text023"><span>60</span></span>
          </div>
          <div class="admin-bottom-text">
            <span class="admin-text025"><span>New books last day</span></span>
            <span class="admin-text027"><span>Book issued</span></span>
            <span class="admin-text029"><span>New users</span></span>
            <span class="admin-text031"><span>Not returned</span></span>
          </div>
          <div class="admin-columns1">
            <img
              alt="IMAGE112524"
              src="/playground_assets/image112524-2lh-200w.png"
              class="admin-image11"
            />
            <img
              alt="IMAGE122524"
              src="/playground_assets/image122524-7akg-200w.png"
              class="admin-image12"
            />
            <img
              alt="IMAGE132524"
              src="/playground_assets/image132524-lwau-200w.png"
              class="admin-image13"
            />
            <img
              alt="IMAGE142524"
              src="/playground_assets/image142524-d18e-200w.png"
              class="admin-image14"
            />
          </div>
          <div class="admin-texts1">
            <span class="admin-text033"><span>22</span></span>
            <span class="admin-text035"><span>11</span></span>
            <span class="admin-text037"><span>19</span></span>
            <span class="admin-text039"><span>50</span></span>
          </div>
          <span class="admin-text041"><span>Reports</span></span>
        </div>
        <div class="admin-container06">
          <div class="admin-lastactivetable">
            <div class="admin-container07">
              <div class="admin-container08">
                <span class="admin-active-user-title">Last active users</span>
                <div class="admin-table-headers">
                  <span class="admin-text043">
                    <span>Fullname</span>
                    <br />
                  </span>
                  <span class="admin-text046">
                    <span>Username</span>
                    <br />
                  </span>
                  <span class="admin-text049"><span>ID</span></span>
                  <span class="admin-text051">Active</span>
                </div>
                <div class="admin-active-user">
                  <img
                    alt="user112914"
                    src="/playground_assets/user112914-a5a-200h.png"
                    class="admin-user11"
                  />
                  <span class="admin-text052">Nicolò Zaniolo</span>
                  <span class="admin-text053">catOverlord</span>
                  <span class="admin-text054">17565</span>
                  <span class="admin-text055">45 sec. ago</span>
                </div>
                <div class="admin-active-user1">
                  <img
                    alt="user112914"
                    src="/playground_assets/user112914-a5a-200h.png"
                    class="admin-user111"
                  />
                  <span class="admin-text056">Nicolò Zaniolo</span>
                  <span class="admin-text057">catOverlord</span>
                  <span class="admin-text058">17565</span>
                  <span class="admin-text059">45 sec. ago</span>
                </div>
                <div class="admin-active-user2">
                  <img
                    alt="user112914"
                    src="/playground_assets/user112914-a5a-200h.png"
                    class="admin-user112"
                  />
                  <span class="admin-text060">Nicolò Zaniolo</span>
                  <span class="admin-text061">catOverlord</span>
                  <span class="admin-text062">17565</span>
                  <span class="admin-text063">45 sec. ago</span>
                </div>
                <div class="admin-active-user3">
                  <img
                    alt="user112914"
                    src="/playground_assets/user112914-a5a-200h.png"
                    class="admin-user113"
                  />
                  <span class="admin-text064">Nicolò Zaniolo</span>
                  <span class="admin-text065">catOverlord</span>
                  <span class="admin-text066">17565</span>
                  <span class="admin-text067">45 sec. ago</span>
                </div>
                <div class="admin-active-user4">
                  <img
                    alt="user112914"
                    src="/playground_assets/user112914-a5a-200h.png"
                    class="admin-user114"
                  />
                  <span class="admin-text068">Nicolò Zaniolo</span>
                  <span class="admin-text069">catOverlord</span>
                  <span class="admin-text070">17565</span>
                  <span class="admin-text071">45 sec. ago</span>
                </div>
                <div class="admin-active-user5">
                  <img
                    alt="user112914"
                    src="/playground_assets/user112914-a5a-200h.png"
                    class="admin-user115"
                  />
                  <span class="admin-text072">Nicolò Zaniolo</span>
                  <span class="admin-text073">catOverlord</span>
                  <span class="admin-text074">17565</span>
                  <span class="admin-text075">45 sec. ago</span>
                </div>
              </div>
            </div>
            <a
              href="adminuserboard.html"
              id="viewAllUser"
              class="admin-view-all-button button"
            >
              View all
            </a>
          </div>
          <div class="admin-newbooktable">
            <div class="admin-container09">
              <div class="admin-container10">
                <span class="admin-new-book-title">New books</span>
                <div class="admin-table-headers1">
                  <div class="admin-container11">
                    <span class="admin-text076"><span>Name</span></span>
                    <span class="admin-text078"><span>ID</span></span>
                    <span class="admin-text080">
                      <span>Author</span>
                      <br />
                    </span>
                    <span class="admin-text083">
                      <span>Pub.</span>
                      <br />
                    </span>
                    <span class="admin-text086">
                      <span>Upload</span>
                      <br />
                    </span>
                    <span class="admin-text089">
                      <span>Quan.</span>
                      <br />
                    </span>
                  </div>
                </div>
              </div>
              <div class="admin-new-book">
                <img
                  alt="image"
                  src="/playground_assets/user112956-sm4-200h.png"
                  class="admin-image2"
                />
                <span class="admin-text092">The Narra...</span>
                <span class="admin-text093">17657</span>
                <span class="admin-text094">Edgar Allan Poe</span>
                <span class="admin-text095">Jul 31, 1838</span>
                <span class="admin-text096">Apr 09, 2023</span>
                <span class="admin-text097">500</span>
              </div>
              <div class="admin-new-book1">
                <img
                  alt="image"
                  src="/playground_assets/user112956-sm4-200h.png"
                  class="admin-image3"
                />
                <span class="admin-text098">The Narra...</span>
                <span class="admin-text099">17657</span>
                <span class="admin-text100">Edgar Allan Poe</span>
                <span class="admin-text101">Jul 31, 1838</span>
                <span class="admin-text102">Apr 09, 2023</span>
                <span class="admin-text103">500</span>
              </div>
              <div class="admin-new-book2">
                <img
                  alt="image"
                  src="/playground_assets/user112956-sm4-200h.png"
                  class="admin-image4"
                />
                <span class="admin-text104">The Narra...</span>
                <span class="admin-text105">17657</span>
                <span class="admin-text106">Edgar Allan Poe</span>
                <span class="admin-text107">Jul 31, 1838</span>
                <span class="admin-text108">Apr 09, 2023</span>
                <span class="admin-text109">500</span>
              </div>
              <div class="admin-new-book3">
                <img
                  alt="image"
                  src="/playground_assets/user112956-sm4-200h.png"
                  class="admin-image5"
                />
                <span class="admin-text110">The Narra...</span>
                <span class="admin-text111">17657</span>
                <span class="admin-text112">Edgar Allan Poe</span>
                <span class="admin-text113">Jul 31, 1838</span>
                <span class="admin-text114">Apr 09, 2023</span>
                <span class="admin-text115">500</span>
              </div>
              <div class="admin-new-book4">
                <img
                  alt="image"
                  src="/playground_assets/user112956-sm4-200h.png"
                  class="admin-image6"
                />
                <span class="admin-text116">The Narra...</span>
                <span class="admin-text117">17657</span>
                <span class="admin-text118">Edgar Allan Poe</span>
                <span class="admin-text119">Jul 31, 1838</span>
                <span class="admin-text120">Apr 09, 2023</span>
                <span class="admin-text121">500</span>
              </div>
              <div class="admin-new-book5">
                <img
                  alt="image"
                  src="/playground_assets/user112956-sm4-200h.png"
                  class="admin-image7"
                />
                <span class="admin-text122">The Narra...</span>
                <span class="admin-text123">17657</span>
                <span class="admin-text124">Edgar Allan Poe</span>
                <span class="admin-text125">Jul 31, 1838</span>
                <span class="admin-text126">Apr 09, 2023</span>
                <span class="admin-text127">500</span>
              </div>
            </div>
            <a
              href="adminbookboard.html"
              id="viewAllBook"
              class="admin-view-all-book-button button"
            >
              View all
            </a>
          </div>
        </div>
      </div>
      <footer class="admin-footer">
        <div class="admin-container12">
          <div class="admin-container13">
            <img
              alt="VGUlogofullwhite17217"
              src="/playground_assets/vgulogofullwhite17217-4d0rh-200h.png"
              class="admin-v-ulogofullwhite1"
            />
            <h2 class="admin-text128">
              <span>
                <span>
                  Ring road 4, Quarter 4, Thoi Hoa Ward, Ben Cat Town, Binh Duong
                  Province
                </span>
                <br />
                <span>Tel. (0274) 222 0990 - 70206</span>
                <br />
                <span>Fax: (0274) 222 0980</span>
              </span>
            </h2>
            <h2 class="admin-text135">
              © 2023 VGU Library, All Rights Reserved.
            </h2>
          </div>
          <div class="admin-navbutton1">
            <div class="admin-home">
              <a href="home.html" class="admin-navlink6">
                <h2 class="admin-text136">
                  <span>Home</span>
                  <span></span>
                </h2>
              </a>
              <p class="admin-text139">
                <br />
                <span>Search books</span>
                <br />
                <span>Popular books</span>
                <br />
                <span>Featured books</span>
                <br />
                <span>Services</span>
                <br />
                <span>Research</span>
                <br />
                <span>News &amp; Events</span>
                <br />
              </p>
            </div>
            <div class="admin-contact">
              <a href="contact.html" class="admin-navlink7">
                <h2 class="admin-text153">Contact</h2>
              </a>
              <p class="admin-text154">
                <br />
                <span>Address</span>
                <br />
                <span>Phone number</span>
                <br />
                <span>Fax number</span>
                <br />
                <span>Email</span>
                <br />
              </p>
            </div>
            <div class="admin-about">
              <a href="contact.html" class="admin-navlink8">
                <h2 class="admin-text164">About</h2>
              </a>
              <p class="admin-text165">
                <br />
                <span>Introduction</span>
                <br />
                <span>Mission</span>
                <br />
                <span>Vision</span>
                <br />
                <span>Scale</span>
                <br />
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  